<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test project</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/custom.css">
</head>
<body>
    <h1>Hello World!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta provident sapiente, nobis corrupti culpa et esse? Quam doloremque officia minus fugiat ipsam unde nostrum ut, soluta temporibus vitae atque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum labore exercitationem vitae quis id perferendis harum quasi, commodi similique expedita porro laboriosam! Iure ducimus earum ipsam neque fuga, illo asperiores.</p>
    <img src="./styles/images/bear.jpg"/>
    
    <script src="./src/index.js"></script>
</body>
</html>